<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img src="assets/img/icono-ull-blanco.png" alt="Logo" class="header-logo">
    <span class="navbar-item">Universidad de La Laguna</span>
  </div>
</nav>
<div class="home-container">
  <h1 class="home-title">Bienvenido</h1>
  <div class="home-cube box">
    <p class="home-content">Te has conectado exitosamente. ¡Explora tu espacio personal!</p>
    <button class="button is-primary" (click)="logout()">Salir</button>
  </div>
</div>