body {
  background-color: #ffffff !important;
  margin: 0;
}

.navbar.is-primary {
  background-color: #5C068C !important; 
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px;
  margin-right: 10px;
}

.navbar-item {
  color: #ffffff !important;
  font-size: 18px;
  font-weight: bold;
}

.section {
  padding: 2rem 1.5rem; 
}

.box {
  background-color: #D3D3D3; 
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2rem;
  color: #ececec;
}

.subtitle {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
}

.button.is-info {
  background-color: #5C068C !important; 
  color: #ffffff;
}

.button.is-info:hover {
  background-color: #4a055f !important;
}

.content {
  font-size: 1rem;
  color: #333;
}

ul {
  padding-left: 1rem;
}

li {
  margin-bottom: 0.5rem;
}